<ng-container *transloco="let t">
  <p-card header="{{ t('menu.steamApi.dialogTitle') }}">
    <div class="p-fluid">
      <p class="text-color-secondary">
        {{ t('menu.steamApi.dialogIntro') }}
      </p>

      <p class="p-mt-2">
        <label for="steam-api-key-input-onboarding">{{ t('menu.steamApi.keyLabel') }}</label>
        <br />
        <input
          id="steam-api-key-input-onboarding"
          type="text"
          pInputText
          [(ngModel)]="steamApiKey"
          style="width: 100%"
          autocomplete="off"
          (ngModelChange)="steamApiKeyChange.emit($event)"
        />
      </p>

      <div class="text-sm p-mt-3">
        <p class="p-mb-2">
          {{ t('menu.steamApi.needKey') }}
          <a
            href="https://steamcommunity.com/dev/apikey"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ t('menu.steamApi.getKeyLink') }}
          </a>
        </p>
        <button
          pButton
          type="button"
          label="{{ t('menu.steamApi.helpButton') }}"
          icon="pi pi-file"
          iconPos="left"
          class="p-button-link p-0 text-left"
          (click)="steamApiKeyHelpDialogVisible = true"
        ></button>
      </div>
    </div>
  </p-card>

  <p-dialog
    [(visible)]="steamApiKeyHelpDialogVisible"
    [modal]="true"
    [style]="{ width: '60rem', maxHeight: '80vh' }"
    [breakpoints]="{ '960px': '95vw' }"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="header">
      <span>
        <i class="pi pi-file" style="margin-right: 0.5rem"></i>
        {{ t('menu.steamApi.helpTitle') }}
      </span>
    </ng-template>
    <div class="p-fluid" style="max-height: 60vh; overflow: auto">
      <p-card header="{{ t('menu.steamApi.helpCardTitle') }}" class="p-mb-4">
        <p [innerHTML]="t('menu.steamApi.helpCardBody')"></p>
      </p-card>

      <p-panel header="{{ t('menu.steamApi.step1Title') }}" [toggleable]="true" class="p-mb-3">
        <p>{{ t('menu.steamApi.step1Intro') }}</p>
        <ul class="p-ml-3">
          <li [innerHTML]="t('menu.steamApi.step1Bullet1')"></li>
          <li [innerHTML]="t('menu.steamApi.step1Bullet2')"></li>
          <li [innerHTML]="t('menu.steamApi.step1Bullet3')"></li>
        </ul>
      </p-panel>

      <p-panel header="{{ t('menu.steamApi.step2Title') }}" [toggleable]="true" class="p-mb-3" style="margin-top: 5px">
        <p [innerHTML]="t('menu.steamApi.step2Intro')"></p>
        <ul class="p-ml-3">
          <li [innerHTML]="t('menu.steamApi.step2Bullet1')"></li>
          <li [innerHTML]="t('menu.steamApi.step2Bullet2')"></li>
          <li [innerHTML]="t('menu.steamApi.step2Bullet3')"></li>
        </ul>
      </p-panel>

      <p-panel header="{{ t('menu.steamApi.step3Title') }}" [toggleable]="true" class="p-mb-3" style="margin-top: 5px">
        <p-accordion>
          <p-accordion-panel>
            <p-accordion-header>{{ t('menu.steamApi.step3_1Title') }}</p-accordion-header>
            <ol class="p-ml-3">
              <li [innerHTML]="t('menu.steamApi.step3_1Bullet1')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_1Bullet2')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_1Bullet3')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_1Bullet4')"></li>
            </ol>
          </p-accordion-panel>

          <p-accordion-panel>
            <p-accordion-header>{{ t('menu.steamApi.step3_2Title') }}</p-accordion-header>
            <ol class="p-ml-3">
              <li [innerHTML]="t('menu.steamApi.step3_2Bullet1')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_2Bullet2')"></li>
            </ol>
          </p-accordion-panel>

          <p-accordion-panel>
            <p-accordion-header>{{ t('menu.steamApi.step3_3Title') }}</p-accordion-header>
            <p>{{ t('menu.steamApi.step3_3Intro') }}</p>
            <ol class="p-ml-3">
              <li [innerHTML]="t('menu.steamApi.step3_3Bullet1')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_3Bullet2')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_3Bullet3')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_3Bullet4')"></li>
            </ol>
          </p-accordion-panel>

          <p-accordion-panel>
            <p-accordion-header>{{ t('menu.steamApi.step3_4Title') }}</p-accordion-header>
            <p>{{ t('menu.steamApi.step3_4Intro') }}</p>
            <ol class="p-ml-3">
              <li [innerHTML]="t('menu.steamApi.step3_4Bullet1')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_4Bullet2')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_4Bullet3')"></li>
              <li [innerHTML]="t('menu.steamApi.step3_4Bullet4')"></li>
            </ol>
          </p-accordion-panel>
        </p-accordion>
      </p-panel>

      <p-panel header="{{ t('menu.steamApi.step4Title') }}" [toggleable]="true" class="p-mb-3" style="margin-top: 5px">
        <p [innerHTML]="t('menu.steamApi.step4Intro')"></p>
        <p-card class="p-mt-2">
          <code>
            https://api.steampowered.com/ISteamNews/GetNewsForApp/v2/?appid=440&amp;key=YOURKEYHERE
          </code>
        </p-card>
        <p class="p-mt-2">{{ t('menu.steamApi.step4Outro') }}</p>
      </p-panel>

      <p-panel header="{{ t('menu.steamApi.step5Title') }}" [toggleable]="true" class="p-mb-3" style="margin-top: 5px">
        <p>{{ t('menu.steamApi.step5Intro') }}</p>
        <ol class="p-ml-3">
          <li [innerHTML]="t('menu.steamApi.step5Bullet1')"></li>
          <li [innerHTML]="t('menu.steamApi.step5Bullet2')"></li>
          <li [innerHTML]="t('menu.steamApi.step5Bullet3')"></li>
          <li [innerHTML]="t('menu.steamApi.step5Bullet4')"></li>
        </ol>
      </p-panel>

      <p-panel header="{{ t('menu.steamApi.step6Title') }}" [toggleable]="true" class="p-mb-3" style="margin-top: 5px">
        <p>{{ t('menu.steamApi.step6Intro') }}</p>
        <ul class="p-ml-3">
          <li [innerHTML]="t('menu.steamApi.step6Bullet1')"></li>
          <li [innerHTML]="t('menu.steamApi.step6Bullet2')"></li>
          <li [innerHTML]="t('menu.steamApi.step6Bullet3')"></li>
        </ul>
      </p-panel>

      <p-card class="p-mt-4">
        <p>{{ t('menu.steamApi.footerNote') }}</p>
      </p-card>
    </div>
  </p-dialog>
</ng-container>
